.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $title-text-color;

  @include for-size(desktop) {
    height: 600px;
  }
}

.hero {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 26px;

  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
