.picture-block {
  display: block;
  max-width: 100%;
  height: auto;
}
.section.our-team {
  background-color: $secondary-background-color;
}

.team-list .title {
  margin-bottom: 10px;
  margin-top: 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-list .speciality {
  display: inline-block;
  margin-bottom: 16px;

  color: $title-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-form {
  padding: 30px 32px 30px 32px;
}
