.work-card {
  position: relative;
}

.work-title {
  position: absolute;
  bottom: 0;

  width: 370px;
  height: 70px;

  margin: 0;
  padding-top: 27px;

  color: $primary-white-color;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
