.btn {
  cursor: pointer;
}

.btn.primary {
  min-width: 200px;
  margin: 0;

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $primary-white-color;
  background-color: $accent-color;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.primary .icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.btn.secondary {
  color: $primary-text-color;
  background-color: $secondary-background-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn.order {
  padding: 10px 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
  }
}

.btn.subscribe {
  display: flex;
  align-items: center;

  padding: 10px 28px 10px 29px;
}

.btn.send {
  padding: 10px 55px;
}
.btn-position {
  display: flex;
  align-items: center;
  justify-content: center;
}
